// SPDX-License-Identifier: GPL-2.0+ or X11
/*
 * Copyright (C) 2023 Technologic Systems, Inc. dba embeddedTS
 */

/ {
	leds {
		compatible = "gpio-leds";

		led-2 {
			label = "io-green-led";
			gpios = <&gpio7 9 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led-3 {
			label = "io-red-led";
			gpios = <&gpio7 8 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};
};

/* CPU GPIO1: 209c000.gpio */
&gpio1 {
	gpio-line-names =
		"RS485_5_TXEN",  "RTC_BATT_FAIL", "I2C_1_CLK",     "I2C_1_DAT",
		"AN_CH0",        "AN_CH1",        "",              "",
		"AN_CH2",        "RS485_2_TXEN",  "",              "",
		"",              "",              "",              "",
		"",              "",              "",              "",
		"",              "",              "",              "",
		"",              "",              "",              "",
		"",              "",              "",              "";
};

/* CPU GPIO3: 20a4000.gpio */
&gpio3 {
	gpio-line-names =
		"",              "",              "",              "",
		"",              "",              "",              "",
		"",              "",              "",              "",
		"",              "",              "NIM_STATUS",    "",
		"",              "",              "",              "",
		"",              "",              "",              "",
		"",              "",              "",              "",
		"",              "",              "",              "";
};

/* CPU GPIO5: 20ac000.gpio */
&gpio5 {
	gpio-line-names =
		"POWER_FAIL_3V", "FPGA_IRQ",      "",              "",
		"EN_RELAY_1",    "EN_RELAY_2",    "NIM_RESET",     "",
		"",              "",              "",              "",
		"",              "",              "",              "",
		"",              "",              "",              "",
		"",              "",              "",              "",
		"",              "",              "",              "",
		"",              "",              "",              "";
};

/* FPGA dio: 50004010.gpio */
&gpio6 {
	gpio-line-names =
		"DIO_1_OUT", "DIO_2_OUT", "DIO_1_IN",  "DIO_2_IN",
		"DIO_3_IN",  "DIO_6",     "DIG_IN_1",  "DIG_IN_2",
		"DIG_IN_3",  "EN_CL_1",   "EN_CL_2",   "EN_CL_3",
		"",          "",          "EN_CL_4",   "EN_HS_SW";
};

/* FPGA dio2: 50004040.gpio */
&gpio7 {
	gpio-line-names =
		"EN_EMMC_3V3#",   "EN_ADC1_12V",    "EN_ADC2_12V",    "EN_ADC3_12V",
		"EN_ADC4_12V",    "EN_USB_HOST_5V", "PHY_RESET#",     "WIFI_RESET#",
		"IO_RED_LED#",    "IO_GREEN_LED#",  "",               "",
		"EN_PROG_SILAB",  "DIO_3_OUT",      "EN_HSPWM",       "EN_LSPWM";
};

/* FPGA dio3: 50004050.gpio */
&gpio8 {
	gpio-line-names =
		"CPU_TOUCH_IRQ#", "",               "C6_PAD",         "B8_PAD",
		"C9_PAD",         "C8_PAD",         "NIM_3V3#_4V",    "DIO_16_PAD",
		"NIM_PWR_ON",     "SEL_NIM_USB",    "DIO_FAULT#",     "",
		"",               "",               "EN_BK_LT#",      "";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	uart-has-rtscts;
	rts-gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
	linux,rs485-enabled-at-boot-time;
	dma-names = "", "";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
	uart-has-rtscts;
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
	rts-gpios = <&gpio1 13 GPIO_ACTIVE_LOW>;
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	uart-has-rtscts;
	linux,rs485-enabled-at-boot-time;
	dma-names = "", "";
};

&usbotg1 {
	dr_mode = "host";
	disable-over-current;
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	disable-over-current;
	status = "okay";
};
